---
import { Button, Link } from "@nextui-org/react";
import { Modal } from "../components/Modal";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const GA_MEASUREMENT_ID = import.meta.env.GA_MEASUREMENT_ID;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
    <title>{title}</title>
  </head>
  <body>
    <div class="flex items-center justify-between m-4">
      <Button data-menu-button color="primary" variant="light" client:visible>
        {t("nav.menu")}
      </Button>
      <Link isBlock href={lang === "en" ? "ru" : "/"} color="foreground">
        {t("layout.switch")}
      </Link>
    </div>
    <Modal client:only="react" lang={lang} />
    <slot />
  </body>
</html>

<script>
  import { toggleMenu } from "./store";

  const buttons = document.querySelectorAll("[data-menu-button]");

  if (buttons.length !== 0) {
    buttons[0].addEventListener("click", () => {
      toggleMenu();
    });
  }
</script>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
</style>
